<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">Wikis</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-right">
    <% if policy(Wiki.new).create? %>
      <%= link_to "New Wiki", new_wiki_path, class: 'btn btn-success pull-right' %>
    <% end %>
    <% if current_user.role == 'standard' %>
      <%= link_to "Upgrade to Premium", new_charge_path, class: 'btn btn-warning pull-left' %>
    <% elsif current_user.role == 'premium' %>
      <%= link_to "Downgrade to Standard", new_downgrade_path, class: 'btn btn-warning pull-left' %>
    <% end %>
  </div>
</div>  

<div class="row margin-top-10">

 <div class="col-md-6" id="public_wikis">
    <table class="table table-striped">
      <th colspan="4" class="text-center">Public wikis</th>
      <tr class="tr_header">
        <td>Title</td>
        <td>Owner</td>
        <td colspan='2' class="text-center">Actions</td>
      </tr>
        <%= render partial: 'wikis', locals: { wikis: @wikis } %>
    </table>
  </div>

  <div class="col-md-6" id="my_wikis">
    <table class="table table-striped">
      <th colspan="4" class="text-center">Own/Collaborating wikis</th>
      <tr class="tr_header">
        <td>Title</td>
        <td>Owner</td>
        <td colspan='2' class="text-center">Actions</td>
      </tr>
        <%= render partial: 'wikis', locals: { wikis: @user_wikis } %>
    </table>
  </div>

</div>